<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="row  px-5 py-5">
        <h3>Full Stack Develop</h3>
        <!--Tratando de obtener backend, intento 1000 fallido...-->
        <b
        *ngFor="let item of textoAbout"
        >{{item.description}}
        {{item.username}}

      </b>

      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <img src="../../../assets/github.png" class="img-fluid">
      </div>
    </div>
  </div>
</div>

