
<div class="container p-5">
  <h3>
    <p  class="pb-2 border-bottom text-center">Practices</p>
  </h3>

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-2">
    <div class="col p-2">
      <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <a class="decoration-none btn btn-outline-danger" href="https://pokedexangular-sofia.web.app">Live Demo</a>

          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Pokedex</h2>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="../../../assets/pokebola.png" alt="Pokedex" width="32" height="32" class="rounded-circle border border-white">
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
              <small>Angular Cli</small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
              <small>2m</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col p-2">
      <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <a class="decoration-none btn btn-outline-danger" href="https://github.com/profsofia/sitio-noticias">Clone</a>
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Sitio de Noticias</h2>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="../../../assets/github.png" alt="github" width="32" height="32" class="rounded-circle border border-white">
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
              <small>HTML CSS JS</small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
              <small>5m</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col p-2">
      <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <a class="decoration-none btn btn-outline-danger" href="https://github.com/profsofia/task-list">Clone</a>
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">TODO</h2>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="../../../assets/github.png" alt="github" width="32" height="32" class="rounded-circle border border-white">
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
              <small>Argentina Programa</small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
              <small>7m</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="b-example-divider"></div>

