
<div class="flex">
  <div class="container">
    <h3 >
      <p  class="pb-2 border-bottom text-center text-warning">Skills</p>
    </h3>
    <hr/>
    <h3>JavaScript</h3>
    <div class="progress">
      <div class="progress-bar bg-success" role="progressbar" style="width: 85%;"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <h3>TypeScript</h3>
    <div class="progress">
      <div class="progress-bar bg-info" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <h3>Java</h3>
    <div class="progress">
      <div class="progress-bar bg-warning" role="progressbar" style="width: 50%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <h3>Git</h3>
    <div class="progress">
      <div class="progress-bar bg-dark" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <h3>Github</h3>
    <div class="progress">
      <div class="progress-bar bg-success" role="progressbar" style="width: 65%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>

