<main *ngFor="let item of cabecera">
    <section class="container text-center">
      <img id="banner-bg" [src]="item.imagenBanner" class="img-fluid" />
    </section>
    <section class="text-center container">
      <div class="row py-2">
        <div class="col">
          <img
            [src]="item.imagenPerfil"
            class="img rounded-circle"
            alt="profile"
            id="perfil"
          />
        </div>
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">{{ item.nombre }}</h1>
          <p class="lead text-muted">
            {{ item.descripcion }}
          </p>
        </div>
      </div>
      <button
        class="btn me-2"
        icon="pi pi-arrow-left"
        pButton
        type="button"
        label="Go Back"
        routerLink="/crud"
      ></button>
    </section>
  <!--

  <section>
    <h2 class="text-center container fw-light">Skills</h2>
    <p-progressBar [value]="spinnerValue"></p-progressBar>
    <a href="#" class="btn btn-primary my-2"><i class="pi pi-pencil"></i></a>
    <p-progressBar [value]="spinnerValue"></p-progressBar>
    <a href="#" class="btn btn-primary my-2"><i class="pi pi-pencil"></i></a>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <h2 class="text-center container fw-light">Proyectos</h2>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">Descripción del proyecto</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><i class="pi pi-trash"></i></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><i class="pi pi-pencil"></i></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><i class="pi pi-plus-circle">Agregar</i></button>
                </div>
                <small class="text-muted">Fué creado..</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

<footer class="text-muted py-5">
 fooottttttterrrrrrrrr
</footer>
--></main>
