<main *ngFor="let item of cabecera">
    <section class="container text-center">
      <img id="banner-bg" [src]="item.imagenBanner" class="img-fluid" />
    </section>
    <section class="text-center container">
      <div class="row py-2">
        <div class="col">
          <img
            [src]="item.imagenPerfil"
            class="img rounded-circle"
            alt="profile"
            id="perfil"
          />
        </div>
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">{{ item.nombre }}</h1>
          <p class="lead text-muted">
            {{ item.descripcion }}
          </p>
        </div>
      </div>
      <button
        class="btn me-2"
        icon="pi pi-arrow-left"
        pButton
        type="button"
        label="Go Back"
        routerLink="/crud"
      ></button>
    </section>
  </main>
